
/* цвет основного текста  #2E2F42 */
/* вторичный цвет основного текста #434455*/
/* белый #FFFFFF*/
/* акцент #4D5AE5*/
/* вторичный цвет фона #F4F4FD */
/* цвет адреса #434455 */
/* цвет логотипа синий #4D5AE5 */
/* цвет логотипа белый #F4F4FD */



:root {
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif ;
  --primary-text-color: #434455;
  --title-text-color: #2E2F42;
  --accent-color: #4D5AE5;
  --primary-white-color: #FFFFFF;
  --change-color: #404bbf;
  --backgound-Team-cloud:#F4F4FD;
  --border-line: #E7E9FC;
  --sosial-links: #4d5ae5;
  --icon-color: #f4f4fd;
  --icon-customers:  #8e8f99;
  --click-color: #31d0aa;
}

html {
  box-sizing:border-box
}

*::before,
*::after {
  box-sizing: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);  
  background-color: var(--primary-white-color);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
} 

.title {
  margin-bottom: 8px; 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ================= COMPONENTS ================= */

.button {
  font-weight: 500;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
 
.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--change-color);
}


.filter-btn {
  padding: 12px 24px;
  border: 1px solid var(--border-line);
  border-radius: 4px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--backgound-Team-cloud);

 }

 .filter-btn:hover,
 .filter-btn:focus {
  border: 1px solid transparent;
  color: var(--primary-white-color);
  background-color: var(--change-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
}

.menu-link-text-content {
padding-top: 32px;
padding-bottom: 32px;
border: 1px solid var(--border-line);
border-top: none;
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;  
  color: var(--title-text-color);
  }

  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px; 
   
  }
  .social-list-item {
    width: 40px;
    height: 40px;

  }

  .social-list-link {
    width: 100%;
    height: 100%;
    background-color: var(--sosial-links);
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center; 

  }
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--change-color); 
}

.social-list-icon {
  fill: var(--icon-color);
}


/* ================= /COMPONENTS ================= */

/* ================= HEADER ================= */
.page-header {
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
  background-repeat: no-repeat;
  background-position: center;
} 

.page-header-container {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center; 
  font-weight: 500;
  text-decoration: none;
  color: var(--title-text-color);
} 
  
.page-navigation:hover,
.page-navigation:focus {
  color: var(--changecolor);
  background-color: var(--primary-white-color);
  }

.header-logo {
  margin-right: 76px;
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color);
}

.header-logo:hover,
.header-logo:focus {
  color: var(--change-color);
  }

.header-logo-second {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-item {
  display: flex;
  gap: 70px;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
}

.menu-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  color: var(--title-text-color);
}

.menu-link:hover,
.menu-link:focus {
color: var(--change-color);
background-color: var(--primary-white-color);
}

.header-asdress-list {
  display: flex;
  gap: 40px;
  margin-left: 332px;

}
 .header-contacts {
  display: flex;
  gap: 40px;
  color: var(--primary-text-color);  
  font-style: normal;
}  
  
.header-contacts:hover,
.header-contacts:focus {
  color: var(--change-color);
  }

/* ================= /HEADER ================= */

/* ================= HERO ================= */

.hero-oder {
 max-width: 1440px;
 margin-left: auto;
 margin-right: auto;
 align-items: center;
 padding-top: 188px;
 padding-bottom: 188px;
 background-color: var(--title-text-color);
 background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;


}
 
.hero-title {
  max-width: 496px; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-white-color);
  
}
/* ================= /HERO ================= */


/* ================= Feature ================= */

.section-feature {
padding: 120px 0;
}

.feature-list {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

}
.feature-list-item {
  width: calc((100% - 72px) / 4);

}

.feature-list-item-icon {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 112px;
  background-color: var(--backgound-Team-cloud);
  border-radius: 4px;
  margin-bottom: 8px; 
  } 

.feature-list .text {
  
  color: var(--primary-text-color);
  line-height: 1.5;
  }
/* ================= projects ================= */

.section-projects {
  padding-top: 0; 
  padding-bottom: 120px;
  top: 1016px;
  left: 156px;
  justify-content: center;
}


.projects-list {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 0px;
  list-style: none;

} 

.projects-list >.item {
  color: var(--primary-text-color);
  list-style: none;
  width: calc((100% - 48px) / 3);
}
/* ================= /projects ================= */

.team .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    list-style: none;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }

/* =================  our team  ================= */

.section-team {
  padding-top: 120px; 
  padding-bottom: 120px;
  background-color: var(--backgound-Team-cloud);
 }

 .team-list {
    display: flex;
    Padding: 0px 0px 32px 0px;
    Gap: 24px;
  }  

.team-list >.item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
} 

.team-item-content {
  padding: 32px 16px;
}

.team-item-content .title {
  margin-bottom: 8px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-text-color);
}

.team-item-content .text {

  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}
 
/* =================  /our team  ================= */


/* ====================costumers ==================*/


.section-customers {
  padding-top: 120px; 
  padding-bottom: 120px;
}

  .customers-list {
    display: flex;
    Padding: 0px 0px 32px 0px;
    Gap: 24px;
    outline: 1px solid var(--border-line);
    list-style: none;
    height: 88px;
  }

  .customers-list-item {
    width: calc((100% - 120px) / 6);
  }

  .custumers-list-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: var(--icon-customers);
  }

  .custumers-list-link:hover,
  .custumers-list-link:focus {
    border-color: #404bbf;
    color: #404bbf;
  }


  .customers-logo {
    fill: currentColor;
  }

/* ====================costumers ==================*/

/* =================  portfolio  ================= */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter {
  margin-bottom: 72px; 
  display: flex; 
  justify-content: center;
  gap: 24px;
  
}

.filter-item {
  text-decoration: none;
}

/* portfolio-projects */

.portfolio-projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px; 
 }

 .projects-item {
  width: calc((100% - 48px) / 3);
 }

.projects-link {
  color: var(--title-text-color);
  display: block;
}

.projects-link:hover,
.projects-link:focus {
color: var(--change-color);
background-color: var(--primary-white-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-text-content {
  padding: 32px 16px;
  border: 1px solid var(--border-line);
  border-top: none;
 }

.section-title-projects {
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--title-text-color);
} 

.text-projects {
  color: var(--primary-text-color);
}   

/* =================  /portfolio  ================= */
 
/* =================  footer  ================= */
.footer {
  padding-top: 100px; 
  padding-bottom: 100px;
  background-color: var(--title-text-color);
  display: flex;
  align-items: baseline;
}

.footer-container {
  display: flex; 
  align-items: baseline;

}

.footer-logo-media {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase; 
  text-decoration: none;
 color: var(--accent-color);
}

.footer-logo-second {
  color: var(--backgound-Team-cloud);
} 

.footer-text {
  max-width: 264px;
  color: var(--backgound-Team-cloud);
  margin-right: 120px; 
  margin-bottom: 16px;
}

 .social-media-text {

  color: var(--primary-white-color);
  font-weight: 500; 
  margin-bottom: 16px;

 }

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px; 
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--sosial-links);
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center; 

}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--click-color); 
}


